---
title: API Docs
---
{% assign sorted_collections = site.collections | sort: "position_number" %}
{% for collection in sorted_collections %}
	{% assign sorted_docs = collection.docs | sort: "position_number" %}
	{% for doc in sorted_docs %}
		<section class="doc-content">
			<section class="left-docs">
				<h3>
					<a id="{{ doc.id | replace: '/', '' | replace: '.', '' }}">
						{{ doc.title }}
						{% if doc.type %}
							<span class="endpoint {{ doc.type }}"></span>
						{% endif %}
					</a>
					<a class="editor-link" href="cloudcannon:collections/{{ doc.relative_path }}">Edit</a>
				</h3>
				{% if doc.description %}
					<p class="description">{{ doc.description }}</p>
				        {% if doc.description == "Work experience and side projects" %}
					<p class="success">Work Experience</p>
				{% elsif doc.description == "A little bit about me" %}
					<img src="https://aisyadfira.github.io/images/Writing.png" width="300px"></img>				
				{% endif %}

				{% endif %}
				{% if doc.parameters and doc.parameters[0].name %}
						<h6>Parameters</h6>
						<dl>
								{% for parameter in doc.parameters %}
    <dt>{{ parameter.name }}</dt>
    <dd>
        {% if parameter.content == "Customer support | Influx" %}
            Customer support | Influx
            <p>I helped customers with their questions via phone, email, and chat, fixing tech issues and turning complaints around. I got to know our products really well, even dabbled in some coding (CSS, HTML, JS) for personalized assistance. Worked with different teams to solve tough problems, shared ideas to make our stuff better, and made sure clients felt the love with top-notch support and smooth teamwork.</p>
        {% elsif parameter.content == "Team Leader | Stamped.io" %}
            Team Leader | Stamped.io
            <p>Led a team of support champs, guiding and mentoring them to rock-star customer service. Managed schedules like a pro, balancing tasks and keeping customers smiling. Tackled tough tech problems alongside other teams, trained newbies to shine, and kept the crew sharp with meetings and feedback. Kept things smooth between the team and higher-ups, sharing insights and boosting processes, all while putting customers first and ensuring their happiness.</p>
        {% elsif parameter.content == "Senior Technical Support | Stamped.io" %}
            Senior Technical Support | Stamped.io
	    <p>Handled the trickiest tech issues that came my way as a senior tech support guru. Teamed up with front-end and back-end wizards to dive into deep troubleshooting, using tools like SQL, jQuery, and JIRA to squash bugs. Mastered integration challenges with various apps like ActiveCampaign and Bigcommerce, ensuring smooth data flow and boosted system performance. Nailed Google integration for top-notch SEO and product visibility, while also jazzing up e-commerce dashboards (Magento, Shopify, etc.) with slick CSS and jQuery moves for a sleek storefront vibe.</p>
        {% else %}
            {{ parameter.content }}
        {% endif %}
    </dd>
{% endfor %}
						</dl>
				{% endif %}

				{{ doc.content_markdown | markdownify | replace: "<dl>", "<h6>Parameters</h6><dl>" }}

				{% if doc.left_code_blocks and doc.left_code_blocks[0].code_block %}
						{% for block in doc.left_code_blocks %}
								{% include syntax-highlight.html block=block %}
								{% endfor %}
						{% endif %}
				  {% if doc.description == "Work experience and side projects" %}
				<p class="success">Side Projects</p>
				<p>A Glimpse into some of my illustration works</p>
				<div class="gallery">
    				<img src="https://aisyadfira.github.io/images/IL1.jpg" alt="Image 1">
    				<img src="https://aisyadfira.github.io/images/IL2.jpg" alt="Image 2">
    				<img src="https://aisyadfira.github.io/images/IL3.jpg" alt="Image 3">
				<img src="https://aisyadfira.github.io/images/IL4.jpg" alt="Image 4">
				<img src="https://aisyadfira.github.io/images/IL5.jpg" alt="Image 5">
				<img src="https://aisyadfira.github.io/images/IL6.jpg" alt="Image 6">
				<img src="https://aisyadfira.github.io/images/IL7.jpg" alt="Image 7">
    				<img src="https://aisyadfira.github.io/images/IL8.jpg" alt="Image 8">
    				<img src="https://aisyadfira.github.io/images/IL9.jpg" alt="Image 9">
				<img src="https://aisyadfira.github.io/images/IL10.jpg" alt="Image 10">
				<img src="https://aisyadfira.github.io/images/IL11.jpg" alt="Image 11">
				 </div>
						{% endif %}


			</section>
			{% if doc.right_code_blocks and doc.right_code_blocks[0].code_block %}
					<section class="right-code">
						{% for block in doc.right_code_blocks %}
								{% include syntax-highlight.html block=block %}
						{% endfor %}
				</section>
			{% endif %}
		</section>
	{% endfor %}
{% endfor %}
